@font-face
{
font-family: defharo;
src: url(../font/defharo.ttf);
}
@font-face
{
font-family: roboto_light;
src: url(../font/Roboto-Light.ttf);
}


body {
    margin: 0;
    color: #4F4F4F;
    font: 91% roboto_light, Verdana, Arial, Helvetica, sans-serif;
    background: #f9f9f9;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #363636;
}
a:visited {
    color: #1c73a5;
}

.hide, #pattern {
    display: none;
}

#device, #sub_root, #locals, #content .verbose {
    display: none;
}

#logo_div {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 80px;
    cursor: pointer;
}

#top {
    height: 95px;
    background: url(../img/logo.png) no-repeat 10px 5px;
    /*border-bottom: 1px solid #d2d2d2;*/
    margin-bottom: 10px;
    width: 82%;
    position: relative;
}

#view {
    position: absolute;
    left: 100px;
    top: 70px;
    background: #ffffff;
    border: 1px solid #d2d2d2;
}

#view > span {
    width: 22px;
    height: 22px;
    display: block;
    float: left;
    padding: 2px;
/*    background-color: #f8f8f8;
*/    background-repeat: no-repeat;
    background-position: center center;
    /*border: 1px solid #d2d2d2;*/
    /*margin: 3px;*/
    cursor: pointer;
}

#view .icons {
    background-image: url(../img/view_list_icons.png);
}
#view .details {
    background-image: url(../img/view_list_details.png);
}

#path {
    position: absolute;
    top: 70px;
    left: 160px;
    z-index: 10;
}

#path .device {
    display: block;
    width: 160px;
    float: left;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    padding-left: 20px;
    background: #94b0bf url(../img/device16.png) no-repeat 2px center;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #f4f4f4;
}

#path .device:hover {
    overflow: visible;
    width: auto;
    margin-right: 200px;
    padding-right: 4px;
}

#path .device:hover .divExtra {
    background: none;
}

#path .device .divExtra {
    width: 40px;
    height: 100%;
    background: url(../img/path_device_background.png) repeat-y;
    position: absolute;
    right: 0;
    top: 0;
}

#path .arrow {
    padding-left: 2px;
    padding-right: 2px;
}

#path .device span {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

#path .arrow.first {
    margin-left: 180px;
    background: #94b0bf;
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    float: left;
    margin-right: 3px;
    color: #f4f4f4;
}

#path > a {
    float: left;
    display: block;
    color: #7696a7;
    padding-top: 4px;
    padding-bottom: 4px;
}

#search {
    position: absolute;
    right: 0px;
    top: 15px;
}

#top #search input {
    background: url(../img/find.png) no-repeat 5px center;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    color: #d2d2d2;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 27px;
}

.del {
    width: 16px;
    height: 16px;
    background: url(../img/del.png);
    z-index: 10;
    position: absolute;
    right: 7px;
    top: 7px;
}

#top #search input:focus {
    color: #4b4b4b;
}

#top .show_advance {
    color: #7b7b7b;
    background-repeat: no-repeat;
    padding-left: 22px;
    background-position: left bottom;
    background-image: url(../img/list_add_gray.png);
    cursor: pointer;
}

#top .show_advance:hover {
    background-image: url(../img/list_add.png);
}

#top .advance {
    display: none;
}

#top .advance > div {
    float: left;
    font-size: 13px;
    color: #7b7b7b;
    margin-right: 7px;
}

#top .advance label {
    height: 100%;
    vertical-align: middle;
}

#content {
    width: 82%;
    min-width: 800px;
}

#info_column_background {
    background: #353535;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    position: absolute;
    z-index: -1;
    margin-bottom: 4px;
}

.info_column {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 4px;
}

.info_column span {
    color: #f9f9f9;
}

#content .info_column .name {
    margin-left: 20px;
} 

#content .info_column .size {
    float: right;
    width: 100px;
    text-align: right;
}

#content .info_column .mean_size {
    float: right;
    width: 200px;
    text-align: right;
}

#content > .files, #content > .dirs {
    width: 95%;
    min-width: 800px;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

#content #columns_info span {
    font-weight: bold;
    color: #49595e;
}

#content.view_list_details .filediv:hover {
    background: #e6eef2;
}

#content.view_list_details .filediv .size {
    float: right;
    color: #4f4f4f;
    width: 100px;
    display: block;
    text-align: right;
}
#content.view_list_details .filediv .mean_size {
    float: right;
    color: #4f4f4f;
    width: 200px;
    display: block;
    text-align: right;
}

#content.view_list_icons .filediv {
    float: left;
    width: 110px;
    height: 100px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
    position: relative;
    padding-top: 5px;
}

#content.view_list_icons a {
    display: block;
}

#content.view_list_icons .filediv:hover {
    background: #e6eef2;
}

#content.view_list_icons .filediv .name {
    overflow: hidden;
    clear: both;
    width: 100%;
    display: block;
}

#content.view_list_icons .filediv .size {
    display: none;
}
#content.view_list_icons .filediv .mean_size {
    display: none;
}

#content.view_list_icons .divExtra {
    background: url("../img/panel_border.png") repeat-x;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#content.view_list_icons .filediv:hover .divExtra {
    background: url("../img/list_icons_hover.png") repeat-x;
}

#content.view_list_details .icon {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    margin-right: 6px;
    vertical-align: text-top;
}

#content.view_list_icons .icon {
    width: 48px;
    height: 48px;
    clear: both;
    margin-right: 
/*     vertical-align: text-top; */
}

#content.view_list_icons .hide {
    display: none !important;
}

#content.view_list_icons .info_column {
    visibility: hidden;
}

#results {
    margin-left: 20px;
}

#results .info_column .device {
    width: 245px;
    display: block;
    float: left;
    padding-left: 30px;
}

#results .result {
    margin-top: 7px;
    margin-bottom: 7px;
    background-size: auto 22px;
    background-position: left 1px;
    background-repeat: no-repeat;
    padding-left: 30px;
    height: 24px
}

#results .result .device {
    color: #f9f9f9;
/*    -moz-border-radius: 5px;
    border-radius: 5px;
*/  padding-left: 5px;
    padding-right: 5px;
    width: 200px;
    display: block;
    float: left;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    background: #94b0bf url(../img/device16.png) no-repeat 2px center;
}

#results .result .arrow.first {
    margin-left: 225px;
    background: #94b0bf;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
    float: left;
    margin-right: 3px;
    color: #f4f4f4;
    padding-left: 3px;
    padding-right: 3px;
}

#results .result .device .divExtra {
    width: 40px;
    height: 100%;
    background: url(../img/path_device_background.png) repeat-y;
    position: absolute;
    right: 0;
    top: 0;
}

#results .result .device:hover .divExtra {
    background: none;
}

#results .result .device:hover {
    overflow: visible;
    width: auto;
    margin-right: 200px;
}

#results .device span {
    display: -moz-inline-stack;
    display: inline-block;
    position: relative;
    zoom: 1;
    *display: inline;
    vertical-align: top;
}

#results .result .path {
    color: #686868;
    display: block;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

#results .result .path span {

}

#results .result .name {
    display: block;
    float: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

#results .name strong {
    color: #f13219;
}

#results a {
    color: #1c73a5;
}

#content {
    width: 85%;
    min-width: 850px;
/*     margin: 0 auto 0 auto; */
}

/* Listado de dispositivos */
#devices {
    width: 90%;
}
#devices li {
    list-style: square url(../img/hdd.png);
    margin-top: 2px;
    margin-bottom: 2px;
}

#devices li:hover {
    background: #e6eef2;
}

#devices li input {
    float: right;
    clear: both;
}

.merge {
    border: 1px solid #747474;
    background: #fafafa url(../img/tools_wizard.png) no-repeat 4px 4px;
    padding: 4px;
    cursor: pointer;
    padding-left: 22px;
    margin-left: 5%;
}

.t_update {
    text-align: center;
    width: 100%;
    font-size: 13px;
    color: #2c2c2c;
    margin-top: 10px;
}

.license {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 13px;
    margin-top: 5px;
}

#legal {
    width: 800px;
    margin-left: 5%;
}

#legal > div {
    margin-bottom: 5px;
    margin-top: 5px;
}

#legal h1, #legal h2, #legal h3 {
    color: #596d6f;
}

#legal #autor_div {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

#legal .autor {
    font-size: 20px;
    background: url(../img/nekmo.png) no-repeat;
    padding-left: 60px;
    padding-top: 20px;
    display: inline-block;
    height: 30px;
}

#legal .mail {
    display: block;
}
#legal #show_license {
    font-size: 80%;
}

/*Panel*/
#panel {
    background: url(../img/panel_background.png) repeat;
    border-left: 2px solid #a7adb1;
    border-right: 0;
    min-width: 160px;
    width: 16%;
    right: 0;
    top: 20px;
    bottom: 20px;
    position: fixed;
    padding-top: 60px;
    z-index: 9;
}

#panel .icon {
    width: 100%;
    height: 100px;
    background-size: auto 100px;
    background-position: center center;
    background-repeat: no-repeat;
}

#panel .name {
    display: block;
    width: 100%;
    font-weight: bold;
}

#panel .name.center {
    text-align: center;
}

#panel .name_wrapper {
    margin-bottom: 10px !important;
}

#divExtra01 {
    background: url(../img/panel_border.png) repeat-x;
    width: 16%;
    height: 50px;
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 10;
}

#divExtra02 {
    background: url(../img/panel_border.png) repeat-x;
    width: 17%;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 100;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#divExtra03 {
    background: url(../img/panel_border.png) repeat-x;
    right: 16%;
    width: 2px;
    height: 50px;
    position: fixed;
    top: 20px;
    z-index: 10;
}

#divExtra04 {
    background: #f9f9f9;
    border-left: 2px solid #f9f9f9;
    border-right: 0;
    min-width: 160px;
    width: 16%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

#thumb_wrapper {
    display: table;
    margin: 0 auto 0 auto;
    width: 171px;
    height: 96px;
    position: relative;
    margin-bottom: 7px;
}

#panel #frame_thumb {
    border: 3px dotted #86a6d7;
    height: 90px;
    width: 160px;
    background: #f8f8f8;
    margin: 0 auto 0 auto;
    margin-top: 10px;
    /*display: table;*/
    position: static

    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: static;
    text-transform: uppercase;
    font: 30px defharo;
    color: #5b92d0;
}

/*.frame_thumb .left, .frame_thumb .right {
    background: url(../img/thumb_border.png);
    height: 100%;
    width: 8px;
    float: left;
}*/

#panel #thumb {
    width: 171px;
    height: 96px;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
}

#panel .desc {
    position: static;
    width: 100%;
    text-align: center;
}

#panel .label {
    font-weight: bold;
    color: #38434c;
    min-width: 93px;
    display: block;
    float: left;
    margin-right: 10px;
    text-align: right;
}

#panel .verbose {
    margin: 0 auto 0 auto;
    font-size: 13px;
    overflow: hidden;
    height: 16px;
    width: 95%;
}

