{% extends 'base.html' %}
{% block content %}
<div class="files">
    <div class="filediv dir">
        <a href="../index.html">
            <img class="icon" alt="[Up]" src="{{ root_level }}static/icons/up_level.png" />
        </a>
        <a href="../index.html"></a>
        <span class="size">{{ dir.size|humanize }}</span>
        <span class="mean_size">{{ dir.get_mean_size()|humanize }}</span>
    </div>
    {% for subdir in dir.dirs|sort %}
        <div class="filediv dir">
            <a href="{{ subdir.quote_name }}/index.html">
                <img class="icon" alt="[Dir]" src="{{ root_level }}static/icons/{{ subdir.get_icon() }}" />
            </a>
            <a href="{{ subdir.quote_name }}/index.html">{{ subdir.name }}</a>
            <span class="size">{{ subdir.size|humanize }}</span>
            <span class="mean_size">{{ subdir.get_mean_size()|humanize }}</span>
        </div>
    {% endfor %}
    {% for subfile in dir.files|sort %}
        <div class="filediv file AVI ">
            <img class="icon" alt="[*]" src="{{ root_level }}static/icons/{{ subfile.get_icon() }}">
            <span class="name">{{ subfile.name }}</span>
            <span class="width verbose">{{ subfile['video'].get('width', '??') }}</span>
            <span class="height verbose">{{ subfile['video'].get('height', '??') }}</span>
            <span class="container verbose">{{ </span>
            <span class="length verbose">5 mins.</span>
            <span class="video_codec verbose">XviD MPEG-4</span>
            <span class="audio_codec verbose">MPEG Layer 3</span>
            <span class="aspect verbose">1.739</span>
            <span class="fps verbose">23</span>
            <span class="samplerate verbose">44 Khz</span>
            <span class="audio_channels verbose">2</span>
            <span class="size">{{ subfile.size|humanize }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}